<solid-input-component lazy-load-css="solid-input-component" web-component>
    <input type="text" name="{{ input.title|camel }}" id="{{ input.title|camel }}">
    <label for="{{ input.title|camel }}">{{ input.title }}</label>
</solid-input-component>