{% set image = craft.imager.transformImage(section.image[0], [
    { width: 100, ratio: 16/9, position: section.image[0].getFocalPoint(), format: imageFormat },
    { width: 320, ratio: 16/9, position: section.image[0].getFocalPoint(), format: imageFormat },
    { width: 425, ratio: 16/9, position: section.image[0].getFocalPoint(), format: imageFormat },
    { width: 768, ratio: 16/9, position: section.image[0].getFocalPoint(), format: imageFormat },
    { width: 1024, ratio: 16/9, position: section.image[0].getFocalPoint(), format: imageFormat }
]) %}

<section style="width:100%;display:block;padding: 6rem 1rem 8rem;">
    <lazy-image lazy-load-css="lazy-image">
        <img 
            src="{{ image[0].url }}" 
            srcset="{{ craft.imager.srcset(image) }}" 
            alt="{{ section.image[0].alternateDescription }}" 
            loading="lazy" 
            width="100"
            style="opacity:0;transition: opacity 300ms ease-out;"
            onload="this.onload=null;this.style.opacity='1';" 
        />
    </lazy-image>
    {% if section.cite|length %}
        <image-cite>{{ section.cite }}</image-cite>
    {% endif %}
</section>