hero-area
{
    position: relative;
    min-height: 600px;
    background-color: var(--black);

    &::before
    {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 25%;
        z-index: 1;
    }

    &::after
    {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba(51,51,51,0.5);
    }

    img
    {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}