select-component
{
    position: relative;
    display: block;

    &.has-value
    {
        label
        {
            transform: translateY(0.25rem) scale(0.75);
        }
    }

    &.is-invalid
    {
        select
        {
            border-color: var(--danger-500) !important;
        }

        label
        {
            color: var(--danger-800) !important;
            transform: translateY(0.25rem) scale(0.75);
        }
    }

    select
    {
        display: inline-block;
        line-height: 1;
        width: 100%;
        min-width: 16rem;
        height: 3.5rem;
        border-radius: 0.25rem;
        border: 2px solid var(--grey-200);
        background-color: var(--grey-100);
        color: var(--grey-800);
        transition: all 75ms ease-in-out;
        font-size: 1rem;
        text-overflow: ellipsis;
        font-family: var(--font-system);
        font-weight: var(--font-normal);
        padding: 1.5rem 3rem 0.625rem 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-ms-expand
        {
            display: none;
        }

        &:hover
        {
            background-color: var(--grey-200);
        }

        &:focus
        {
            background-color: var(--white);

            & + label
            {
                color: var(--primary-500);
                transform: translateY(0.25rem) scale(0.75);
            }
        }
    }

    label
    {
        font-weight: var(--font-normal);
        color: var(--grey-800);
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 1rem;
        font-family: var(--font-system);
        transform: translateY(1.125rem) scale(1);
        transform-origin: left center;
        font-size: 1rem;
        transition: all 75ms ease-in-out;
    }

    svg
    {
        width: 12px;
        position: absolute;
        top: 1.125rem;
        right: 1.25rem;
        user-select: none;
        pointer-events: none;
        transition: all 75ms ease-in-out;
        color: var(--grey-700);
    }
}