blog-cards
{
    width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 4rem 1rem 6rem;

    h2
    {
        font-size: 2rem;
        line-height: 3rem;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }

    content-container
    {
        width: 640px;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;

        p
        {
            color: var(--font-light);
            line-height: 1.618;
            margin-bottom: 1rem;

            strong
            {
                font-weight: var(--medium);
            }

            em
            {
                font-style: italic;
            }

            a
            {
                font-weight: var(--medium);
                color: var(--link);
                transition: all 75ms ease;
                cursor: pointer;
                text-decoration: underline;

                &:hover,
                &:focus
                {
                    color: var(--link-hover);
                }

                &:active
                {
                    color: var(--link-active);
                }
            }
            

            &:last-of-type
            {
                margin-bottom: 0;
            }
        }

        a
        {
            margin-top: 2rem;
        }
    }

    cards-grid
    {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: minmax(1px, 1fr);
        padding-top: 4rem;

        &[cards="2"]
        {
            @media (min-width: 768px)
            {
                grid-template-columns: 1fr 1fr;
            }
        }

        &[cards="3"]
        {
            @media (min-width: 1024px)
            {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        a
        {
            max-width: 350px;
            display: block;
            margin: 0 auto;
            background-color: var(--white);
            border-radius: 0.25rem;
            overflow: hidden;
            box-shadow: 0 2px 8px rgba(51,51,51,0.1), 0 8px 32px rgba(51,51,51,0.1);
            transition: all 150ms ease-in-out;

            &:hover,
            &:focus
            {
                transform: translateY(-0.25rem);
                box-shadow: 0 4px 24px rgba(51,51,51,0.1), 0 16px 64px rgba(51,51,51,0.1);

                h3
                {
                    color: var(--primary);
                }
            }

            &:active
            {
                transform: translateY(0.25rem);
                box-shadow: 0 2px 6px rgba(51,51,51,0.1);

                h3
                {
                    color: var(--primary-active);
                }
            }

            img-shim
            {
                width: 100;
                display: block;
                position: relative;

                &::before
                {
                    content: "";
                    display: block;
                    width: 100%;
                    padding-bottom: 56.25%;
                }

                img
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h3
            {
                font-size: 1.25rem;
                line-height: 2rem;
                color: var(--font-light);
                display: block;
                padding: 1.5rem 2rem;
                text-align: center;
                transition: all 75ms ease;
            }

            h4
            {
                font-size: 0.875rem;
                color: var(--font-light);
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.25rem 2rem 2rem;

                svg
                {
                    width: 14px;
                    height: 14px;
                    margin-right: 0.5rem;
                }
            }

            card-tags
            {
                display: block;
                width: 100%;
                padding: 1.5rem 2rem 0;
                text-align: center;

                card-tag
                {
                    font-size: 0.875rem;
                    color: var(--font-light);
                    margin-right: 0.25rem;
                }
            }
        }
    }
}