radio-component
{
    display: block;
    width: 100%;
    position: relative;

    &.is-invalid
    {
        label
        {
            radio-icon
            {    
                border-color: var(--danger-800);

                &::after
                {
                    background-color: var(--danger-800);
                }

                &::before{
                    background-color: var(--danger-500);
                }

                svg
                {
                    color: var(--white);
                }
            }

            span
            {
                color: var(--danger-800);
            }
        }
    }

    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked{
            & + label{
                radio-icon{    
                    border-color: var(--primary-500);

                    &:after
                    {
                        transform: scale(1) translate(-50%, -50%);
                    }
                }
            }
        }
    }
    
    label
    {
        width: 100%;
        cursor: pointer;
        min-height: 3rem;
        padding-left: 3rem;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        user-select: none;

        &:hover,
        &:focus
        {
            radio-icon
            {
                &:before{
                    transform: scale(0.87) translate(-50%, -50%);
                    opacity: 0.06;
                }

                &:after
                {
                    transform: scale(1) translate(-50%, -50%);
                }
            }
        }

        &:active
        {
            radio-icon
            {
                &:before{
                    transform: scale(1) translate(-50%, -50%);
                    opacity: 0.1;
                    transition: all 75ms ease-in-out;
                }

                &:after
                {
                    transform: scale(1) translate(-50%, -50%);
                }
            }
        }

        radio-icon
        {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            border-color: var(--primary-500);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            position: absolute;
            top: 0.875rem;
            left: 0.75rem;
            transition: all 150ms ease-in-out;

            &::before{
                content: "";
                display: inline-block;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: var(--primary-500);
                opacity: 0;
                transition: all 175ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                position: absolute;
                top: 50%;
                left: 50%;
                transform-origin: left top;
                transform: scale(0) translate(-50%, -50%);
            }

            &::after
            {
                content: "";
                display: inline-block;
                width: 0.625rem;
                height: 0.625rem;
                border-radius: 50%;
                background-color: var(--primary-500);
                transition: all 150ms ease-in-out;
                position: absolute;
                top: 50%;
                left: 50%;
                transform-origin: left top;
                transform: scale(0) translate(-50%, -50%);
            }
        }

        span
        {
            display: inline-block;
            user-select: none;
            line-height: 1.25;
            color: var(--grey-800);
            font-weight: var(--font-normal);
            font-family: var(--font-system);
        }
    }
}
