#fourOhFour{
    max-width: 100%;
    text-align: center;
    
    h1{
        color: var(--primary-700);
        font-size: 8rem;
        line-height: 6rem;
        text-align: center;
        font-weight: var(--font-medium);
        margin-bottom: 1rem;
    }

    h2{
        text-transform: capitalize;
        color: var(--grey-700);
        font-size: var(--text-3xl);
        font-weight: var(--font-medium);
        text-align: center;
        margin-bottom: 2rem;
    }

    p{
        color: var(--grey-800);
        text-align: center;
        margin-bottom: 2rem;
        max-width: 320px;
    }
}