{% extends "_base/utility" %}

{% set data = {
    'hero': entry.heroArea[0],
    'sections': entry.contentMatrix,
} %}

{% block content %}
    <style>
        main{
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <article id="fourOhFour" lazy-load-css="404 buttons">
        <h1>404</h1>
        <h2>{{ "Page not found"|t }}</h2>
        <p>{{ "You may have typed the address incorrectly or we may have taken this page down."|t }}</p>
        <a href="{{ siteUrl }}" class="button -solid -primary">{{ "return home"|t }}</a>
    </article>
{% endblock %}
