:root
{
    --white: #fff;
    --off-white: #f7f7f7;
    --black: #0f0f0f;
    --off-black: hsl(0, 0%, 18%);

    --font: hsl(0, 0%, 20%);
    --font-light: #595959;
    --font-button: #093416;
    
    --link: #027787;
    --link-hover: #1697A9;
    --link-active: hsl(187, 93%, 23%);

    --background: #fff;

    --loading-bar-shadow: rgba(0, 191, 255, 0.87);
    --loading-bar: #51b1f6;
    --loading-bar-background: #163b52;
    --loading-background: #fafafa;
    --loading-font: #333;

    @media (prefers-color-scheme: dark)
    {
        --loading-font: #fff;
        --loading-bar-background: #163b52;
        --loading-background: #232323;
    }

    --primary: #39d552;
    --primary-hover: hsl(130, 65%, 60%);
    --primary-active: hsl(130, 65%, 48%);
    --primary-hover-opaque: rgb(57, 213, 82, 0.1);
    --primary-active-opaque: rgba(57, 213, 82, 0.2);

    --secondary: #34AABA;
    --secondary-hover: #1697A9;
    --secondary-active: hsl(187, 93%, 23%);
    --secondary-hover-opaque: rgba(22, 151, 169, 0.05);
    --secondary-active-opaque: rgba(22, 151, 169, 0.1);

    --complementary: #FF5244;
}
