:root
{
    --white: #fff;
    --black: #0f0f0f;

    --font: hsl(0, 0%, 20%);
    --font-light: #595959;
    --font-button: #093416;
    --background: #fff;

    --loading-bar: #00BFFF;
    --loading-bar-shadow: rgba(0, 191, 255, 0.87);
    --loading-bar-background: #eee;
    --loading-background: #fafafa;
    --loading-font: #333;

    @media (prefers-color-scheme: dark)
    {
        --loading-font: #fff;
        --loading-bar-background: #454545;
        --loading-background: #232323;
    }

    --primary: #39d552;
    --primary-hover: hsl(130, 65%, 60%);
    --primary-active: hsl(130, 65%, 48%);
    --primary-hover-opaque: rgb(57, 213, 82, 0.1);
    --primary-active-opaque: rgba(57, 213, 82, 0.2);
}
