{% extends "_base/base" %}

{% block page %}
    {% include "_header" %}
    <main eager-load-css="colors page-transition soft-loading snackbar" data-id="1">
        {% block content %}{% endblock %}
    </main>
    {% include "_footer" %}
{% endblock %}
