{% extends "_base/base" %}

{% set navigation = navigation.primaryNavigation.all() %}

{% block page %}
    {% include "_header" %}
    <main eager-load-css="colors page-transition soft-loading snackbar" data-id="1">
        {% block content %}{% endblock %}
    </main>
{% endblock %}
