{% extends "_base/base" %}

{% block page %}
    {% include "_header" %}
    <main eager-load-css="variables page-transition soft-loading">
        {% block content %}{% endblock %}
    </main>
    {% include "_footer" %}
{% endblock %}
