{% extends "_base/base" %}

{% block page %}
    {% include "_header" %}
    <main eager-load-css="colors page-transition soft-loading snackbar">
        {% block content %}{% endblock %}
    </main>
    {% include "_footer" %}
{% endblock %}
