header.-utility
{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--white);
    box-shadow: var(--shadow-md);
    z-index: 1000;

    a#logo
    {
        &:focus
        {
            outline: dotted 2px var(--primary-200);
        }

        img
        {
            height: 2rem;
        }
    }
}