:root
{
    // Ya basic
    --white: #fff;
    --black: #000;

    // 50 Shades of Grey (actually there is only 9 shades but you get the point)
    --grey-100: #F7FAFC;
    --grey-200: #EDF2F7;
    --grey-300: #E2E8F0;
    --grey-400: #CBD5E0;
    --grey-500: #A0AEC0;
    --grey-600: #718096;
    --grey-700: #4A5568;
    --grey-800: #2D3748;
    --grey-900: #1A202C;

    // Success
    --success-100: #F0FFF4;
    --success-200: #C6F6D5;
    --success-300: #9AE6B4;
    --success-400: #68D391;
    --success-500: #48BB78;
    --success-600: #38A169;
    --success-700: #2F855A;
    --success-800: #276749;
    --success-900: #22543D;

    // Warning
    --warning-100: #FFFFF0;
    --warning-200: #FEFCBF;
    --warning-300: #FAF089;
    --warning-400: #F6E05E;
    --warning-500: #ECC94B;
    --warning-600: #D69E2E;
    --warning-700: #B7791F;
    --warning-800: #975A16;
    --warning-900: #744210;

    // Danger
    --danger-100: #FFF5F5;
    --danger-200: #FED7D7;
    --danger-300: #FEB2B2;
    --danger-400: #FC8181;
    --danger-500: #F56565;
    --danger-600: #E53E3E;
    --danger-700: #C53030;
    --danger-800: #9B2C2C;
    --danger-900: #742A2A;

    // Primary
    --primary-100: #EBF8FF;
    --primary-200: #BEE3F8;
    --primary-300: #90CDF4;
    --primary-400: #63B3ED;
    --primary-500: #4299E1;
    --primary-600: #3182CE;
    --primary-700: #2B6CB0;
    --primary-800: #2C5282;
    --primary-900: #2A4365;

    // Box Shadows
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    
    // Font Weights
    --font-hairline: 100;
    --font-thin: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    // Font Sizes
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 4rem;

    // Font Families
    --font-sans: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-system: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}
