.-article-card
{
    display: block;
    background-color: var(--white);
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: all 150ms ease-in-out;

    &:hover,
    &:focus
    {
        transform: translateY(-0.25rem);
        box-shadow: var(--shadow-md);

        h3
        {
            color: var(--primary-500);
        }
    }

    &:active
    {
        transform: translateY(0.25rem);
        box-shadow: var(--shadow);

        h3
        {
            color: var(--primary-600);
        }
    }

    img-shim
    {
        width: 100;
        display: block;
        position: relative;

        &::before
        {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 56.25%;
        }

        img
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h3
    {
        font-size: var(--text-2xl);
        line-height: 2.25rem;
        color: var(--grey-700);
        display: block;
        padding: 1rem 2rem;
        transition: all 75ms ease-in-out;
    }

    h4
    {
        font-size: var(--text-sm);
        color: var(--grey-700);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        padding: 0.25rem 2rem 0rem;

        svg
        {
            width: 14px;
            height: 14px;
            margin-right: 0.5rem;
        }
    }

    p
    {
        padding: 1.5rem 2rem 2rem;
        line-height: 1.618;
        font-size: var(--text-sm);
        color: var(--grey-700);
    }

    card-tags
    {
        display: block;
        width: 100%;
        padding: 1.5rem 2rem 0;

        card-tag
        {
            font-size: var(--text-sm);
            color: var(--grey-700);
            margin-right: 0.25rem;
        }
    }
}