header
{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    padding: 0 1rem;
    z-index: 1000;
    background-color: transparent;
    transition: all 150ms ease;

    &.-solid
    {
        background-color: var(--white);
        box-shadow: 0 2px 8px rgba(51,51,51,0.05), 0 0 32px rgba(51,51,51,0.1);

        svg
        {
            color: var(--font);   
        }

        nav,
        utility-nav
        {
            a,
            button
            {
                color: var(--font);
            }
        }
    }

    header-content
    {
        max-width: 100%;
        width: 1024px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;
    }

    a#logo
    {
        img
        {
            width: 175px;
        }
    }

    a#logo:focus
    {
        box-shadow: 0 0 0 2px var(--primary-active-opaque);
    }

    nav,
    utility-nav
    {
        a,
        button
        {
            color: var(--white);
            font-size: 1rem;
            transition: all 150ms ease;
            font-weight: var(--medium);

            &:not(.g-button)
            {
                opacity: 0.87;
                transition: all 75ms ease;

                &:hover,
                &:focus
                {
                    opacity: 1;
                    color: var(--primary);
                }
            }
        }
    }

    nav
    {
        a,
        button
        {
            margin-right: 2rem;
            
            
            &:last-child
            {
                margin-right: 0;
            }
        }

        button
        {
            &:hover,
            &:focus,
            &:focus-within
            {
                opacity: 1;
                
                ul
                {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }

            span
            {
                display: flex;
                align-items: center;
                flex-flow: row nowrap;
                
                svg
                {
                    margin-left: 0.5rem;
                }
            }

            ul
            {
                display: block;
                position: absolute;
                top: calc(100% + 1rem);
                left: 0;
                border-radius: 0.25rem;
                background-color: var(--white);
                text-align: left;
                padding: 0.5rem 0;
                box-shadow: 0 1px 3px rgba(51,51,51,0.1), 0 4px 16px rgba(51,51,51,0.1);
                transition: all 150ms ease-in-out;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;

                &::after
                {
                    content: "";
                    position: absolute;
                    top: -1rem;
                    left: 0;
                    width: 100%;
                    height: 1rem;
                    display: inline-block;
                }

                &::before
                {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 18px;
                    height: 18px;
                    transform: translate(1rem, -0.5rem) rotate(45deg);
                    background-color: var(--white);
                }

                li
                {
                    list-style-type: none;
                    min-height: 36px;
                    line-height: 36px;
                    display: block;
                    padding: 0 3rem 0 1rem;
                    transition: all 75ms ease;
                    white-space: nowrap;

                    &:hover,
                    &:focus
                    {
                        background-color: var(--off-white);

                        a
                        {
                            color: var(--primary);
                        }
                    }

                    &:active
                    {
                        background-color: var(--off-white);

                        a
                        {
                            color: var(--primary-active);
                        }
                    }

                    a
                    {
                        color: var(--font);
                        transition: all 75ms ease;
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }

    utility-nav
    {
        a,
        button
        {
            margin-left: 1.5rem;
            
            &:first-child
            {
                margin-left: 0;
            }
        }
    }
}