.copy-block{
    h2
    {
        font-size: var(--text-3xl);
        line-height: 1.618;
        margin-bottom: 1rem;

        @media (min-width: 768px){
            font-size: 2.5rem;
            line-height: 3rem;
        }
    }

    p
    {
        margin-bottom: 1.5rem;
        line-height: 1.618;
        color: var(--grey-700);

        strong
        {
            font-weight: var(--font-medium);
        }

        em
        {
            font-style: italic;
        }

        a
        {
            font-weight: var(--font-medium);
            color: var(--primary-800);
            transition: all 75ms ease-in-out;
            cursor: pointer;
            text-decoration: underline;

            &:hover,
            &:focus
            {
                color: var(--primary-700);
            }

            &:active
            {
                color: var(--primary-900);
            }
        }
    }
}