$spinner-width: 64px;
$spinner-height: 64px;
$border-width: 4px;
$border-color: var(--loading-bar);
$rail-color: var(--off-white);
$spinner-speed: 1000ms;

loading-spinner
{
    display: block;
    height: $spinner-height;
    width: $spinner-width;
    box-sizing: border-box;
    margin: 0 auto 1rem;
    border: $border-width $rail-color solid;
    border-top: $border-width $border-color solid;
    border-radius: 50%;
    animation: circleRailSpinner $spinner-speed infinite linear;

    &.-inline
    {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    &.-floating
    {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -$spinner-width/2;
        margin-top: -$spinner-height/2;
        animation: circleRailSpinnerFloating $spinner-speed infinite linear;
    }
}

@keyframes circleRailSpinnerFloating
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(359deg);
    }
}

@keyframes circleRailSpinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(359deg);
    }
}
