cta-banner
{
    banner-content
    {
        width: 1024px;
        max-width:100%;
        padding: 8rem 1rem 6rem;
        margin:0 auto;
        display:block;
        text-align: center;
        z-index: 3;

        h2
        {
            display: block;
            font-size: 3rem;
            line-height: 3.5rem;
            color: var(--white);
            font-weight: var(--light);
            text-shadow: 0 1px 3px rgba(255,255,255,0.15);
        }

        p
        {
            max-width: 768px;
            display: block;
            color: var(--white);
            margin: 0 auto 1rem;
            line-height: 1.618;
            text-align: justify;
            hyphens: auto;
            text-shadow: 0 1px 3px rgba(255,255,255,0.15);

            &:first-of-type
            {
                margin-top: 1rem;
            }

            &:last-of-type
            {
                margin-bottom: 0;
            }

            strong
            {
                font-weight: var(--font-medium);
            }

            em
            {
                font-style: italic;
            }

            a
            {
                font-weight: var(--font-medium);
                color: var(--link);
                transition: all 75ms ease-in-out;
                cursor: pointer;
                text-decoration: underline;

                &:hover,
                &:focus
                {
                    color: var(--link-hover);
                }

                &:active
                {
                    color: var(--link-active);
                }
            }
        }
    }

    img-shim
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::after
        {
            content:"";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(51,51,51,0.5);
            z-index: 2;
        }

        img
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }
}